<center>
  <form name="input" action="/throw" method="get">
    Your play: <input type="text" name="play" pattern="[^\s]{1,}"
    title="Empty string doesn't allow!"/>
    <input type="submit" value="Accept" />
  </form>
</center>