<html>
  <head>
  <title> Rock, Paper, Scissors </title>
  <link rel = "stylesheet" type = "text/css"
           href = "/style2.css"/>
  </head>
  <body>
    <center><h1> Rock, Paper, Scissors </h1></center>
    <%= yield %>
  </body>
</html>