<div class="snippet">
  <center>
    <form action="/" method="POST">
      <textarea name="body" id="body" rows="20"></textarea> <br>
      <input type="radio" name="language" value="ruby">Ruby <br>
      <input type="radio" name="language" value="xml">XML <br>
      <input type="radio" name="language" value="yaml">YAML
      <br/><input type="submit" value="Save"/>
    </form>
  </center>
</div>