<h2> <%= "Syntax Highlighting to #{type}" %> </h2>
<div class="snippet">
<div class="snippet">
<div class="sbody" id="content">
  <%= highlight.formatted_body(type)%>
</div>
<br/><a href = '/'>New Paste! </a>
</div>