<center>
  <h2> 
    <u> Super Simple Chat with Sinatra </u>
  </h2>
</center>

<iframe 
  src="/chat_frames/<%= us %>"
  width="75%"
  height="75%"
  frameborder="1"
  scrolling="yes">
</iframe>

<iframe
  class="content"
  src="/users/<%= us %>"
  width="*%"
  height="75%"
  frameborder="1"
  scrolling="yes">
</iframe>

<iframe
  class="content"
  src="/form/<%= us %>"
  width="99%"
  height="10%"
  frameborder="1">
</iframe>