<html>
   <head> 
      <title>Super Simple Chat with Sinatra</title> 
      <meta charset="utf-8" />
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> 
      <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"></link>
      <link href="/style.css" rel="stylesheet" type="text/css"></link>
   </head>
   <body class='content'>
      <%= yield %>
   </body>
</html>