<center>
  <h2> 
    <u> Super Simple Chat with Sinatra </u>
  </h2>
  <br>
  <form action='/'>
    <label class='text-info' for='user'>
      <strong> User Name: </strong>
      <input name='user' value='' />
      <input class="btn btn-small btn-success" type='submit' value="GO!" />
    </label>
  </form>
</center>