.container 
  .hero-unit
    .hero-unit2
      %h2 
        %u Contacto

      %font{:size => "3"}
        %li
          %b Administrador: 
          Uriel Sánchez Guindulain <
          %a{:href => "mailto:urisan91@gmail.com"}email
          >
        %li
          %b Equipo de desarrollo:
          %ul
            %ul
              %li 
                Sergio Jesús García Llarena <
                %a{:href => "mailto:sergiojgl@gmail.com"}email
                >
              %li 
                Juan José Labrador González <
                %a{:href => "mailto:jjlabradorglez@gmail.com"}email
                >
              %li 
                Domingo Yeray Rodríguez Martín <
                %a{:href => "mailto:yerayrm90@gmail.com"}email
                >
              %li 
                Rodrigo Carpintero Díez <
                %a{:href => "mailto:thelonelywolf88@gmail.com"}email
                >
        %p
          %a{:href => "/"} Regresar