%footer.modal-footer.visible-desktop
  .container-fluid
    %p
      Copyright &copy; 2012 - 
      %a{:href => "http://www.ull.es", :target => "_blank"} Universidad de La Laguna     
    %p
      Desarrollado usando
      %a{:href => "http://www.ruby-lang.org/es/", :target => "_blank"} Ruby
      y
      %a{:href => "http://http://www.sinatrarb.com/"} Sinatra
    %p
      Iconos de
      %a{:href => "http://glyphicons.com"} Glyphicons Free
    %p
      %a{:href => "/contact"} Contacta con nosotros
      %span -            
      %a{:href => "https://github.com/urisan23/proyectostw"} Nuestra aplicación 
      en 
      %a{:href => "https://github.com/"}
        %img{:alt => "", :src => "/img/github.png", :height => "16px", :width => "16px"}
        Github