.container
  .hero-unit
    .row-fluid
      #alert_placeholder
    .row-fluid
      .span4
        .hero-unit2
          %center  
            %h3 Nueva Contraseña
            %span Por favor, introduzca a continuación el correo electrónico que usó para registrarse y se le enviará un mensaje con una nueva contraseña que puede usar para iniciar sesión.
            %br
            %br
            %span ¡No olvide cambiar la contraseña de nuevo!
          %br
          %form(action="/forgotten_pass" method="POST" onSubmit="return Valida_changepass(this);")
            %input.span12(placeholder= "Correo electrónico" type="text" name="email")
            %center
              %button.btn.btn-success{:type => "submit"} Enviar
      .span7.offset1.visible-desktop
        %p 
        #myCarousel.carousel.slide
          .carousel-inner
            .item
              %img{:alt => "", :src => "img/bootstrap-mdo-sfmoma-01.png"}
                .carousel-caption
                  %h4 Estudia las asignaturas que te interesen
                  / %h6 Busca las asignaturas que te interesen y contempla el material subido por compañeros de clase de tu universidad de otros cursos.
            .item.active
              %img{:alt => "", :src => "img/bootstrap-mdo-sfmoma-02.png"}
                .carousel-caption
                  %h4 Comunícate con tus compañeros de clase
                  / %h6 Habla con tus compañeros de clase de una forma rápida y sencilla utilizando los mensajes privados o el foro de las asignaturas.
            .item
              %img{:alt => "", :src => "img/bootstrap-mdo-sfmoma-03.png"}
                .carousel-caption
                  %h4 Publica tus apuntes
                  / %h6 Sube tus documentos, exámenes y apuntes de clase en la asignatura y universidad en la que te encuentres.
          %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
          %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;

  %SCRIPT
    var emails_ar = new Array()
    emails_ar = #{"['#{used_emails.join('\',\'')}']"}
