body {
	height: 100%;
	min-height: 100%;
}

article {
	height: 100%;
}

.page {
	margin: auto;
}

#logo {
	font-size: 3em;
}

#logo small {
	font-size: 40%;
}

.padded {
	padding: 2% 0%;
}

.tile > div.brand p.text {
	position: relative;
	left: 2%;
	right: auto;
	top: auto;
	bottom: auto;
	margin-top: 3%;
	margin-left: 4%;
}

#player {
	margin-left: 30px;
	width: 60%;
	float: left;
}

video {
	max-width: 100%;
	height: auto;
}

.videos {
	padding-left: 60px;
	max-height: 320px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

@media (max-width: 1250px) {
	footer {
		position: relative;
	}
	#player {
		margin: 0px auto;
		width: 80%;
		float: inherit;
	}
	.videos {
		padding-left: 0;
		margin: auto;
		text-align: center;
		padding-top: 50px;
		max-height: none;

	}
	.tile {
		float: none;
		display: inline-block;
	}
}

@media (max-width: 423px) {
	.tile {
		margin: 10px auto;
		display: block;
	}
	footer time {
		display: block;
	}
	footer span {
		display: block;
	}
	footer .nav-bar-inner {
		padding-bottom: 30px;
	}
	header .nav-bar-inner {
		padding-bottom: 50px;
	}
}