!!!
%html
  %head
    %title Acortador de URLs
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/bootstrap/css/bootstrap.css"}
  %body
    %center
      %h1
        .added Acortador de URLs
      %p
    =yield
