%html
  %head
    %title Rock, Paper, Scissors
    %link{:rel => "stylesheet", :type => "text/css", :href => "/style.css"}
  %body
    %center
      %h1
        %u Rock, Paper, Scissors
      %img{:src => "/images/rps.jpg", :alt => "rps", :height => "168", :weight => "400"}
      %p
    = yield